.app-tabela {
    width: 100%;
}

.app-cabecalho-tabela  {
	font-weight: bold;
	text-align: center;
}

.app-coluna-detalhe-centro{
	text-align: center;
}

@media only screen and (max-width:800px){

	#no_more_table table,
	#no_more_table thead,
	#no_more_table tbody,
	#no_more_table th,
	#no_more_table td,
	#no_more_table tr {
		display: block;
	}

	#no_more_table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no_more_table tr {
	  border: 1px solid #ccc;
	}

	#no_more_table td {
		border:none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align: left;
	}

	#no_more_table td:before {
	    position: absolute;
	    top: 6px;
	    left: 6px;
	    width: 45%;
	    padding-right: 10px;
	    white-space: nowrap;
	    text-align: left;
	    font-weight: bold;
	}

	#no_more_table td:before{
	 	content: attr(data-label);
	 	float:left;
	}


	.app-content{
	  margin-left: 0px;
	}

	.app-leftarea {
	  display: none;
	}


	.profile {
	  display: none;
	}

}